.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex: 1;
}

.header__logo::after {
  content: "";
  display: block;
  width: 100%;
  right: 10px;

  background: repeating-linear-gradient(
    90deg,
    var(--accent),
    var(--accent) 3px,
    transparent 0,
    transparent 9px
  );
  mask-image: linear-gradient(
    90deg,
    black,
    transparent
  );
}

.header__logo a {
  flex: 0 0 auto;
  max-width: 100%;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: var(--accent);
  color: var(--background);
  font-weight: bold;
  padding: 5px 10px;
}

@media print {
  .header {
    display: none;
  }
}
